<div class="col-md-12" *ngIf="Foodshow">
  <div class="row">
    <div class="col-md-3 col-sm-6 hero-feature" *ngFor="let food of foods">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption" style="text-align:center">
                        <h3>{{food.name}}</h3>
                        <p>
                            <button class="btn btn-primary" [routerLink]="food.name" (click)="displayFood(food)">View</button>
                        </p>
                    </div>
                </div>
            </div>
          </div>
</div>
<app-food-details [foodDetail]="selectedFood"></app-food-details>
